body {
  font-family: 'Cookie', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #ff69b4; /* Pink */
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list li {
  margin: 0 15px;
}

.menu-icon {
  font-size: 20px;
  cursor: pointer;
}

.main-content {
  padding: 20px;
  background-color: #ff69b4; /* Pink */
}

.weather-card,
.smoothie-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.smoothie-container {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  max-width: 200px; /* Adjust the maximum width as needed */
  margin-bottom: 20px; /* Adjust the margin-bottom to reduce padding */
}

.smoothie-image {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 100%;
  height: auto;
}

/* .drink-info-card p {
  text-align: center;
} */

.responsive-image {
  max-width: 50%;
  max-height: auto;
}

footer {
  background-color: #ffa500; /* Orange */
  color: white;
  padding: 10px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resource-attribution ul {
  list-style-type: none;
  padding: 0;
}

.social-media-links a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.contact-info p {
  margin: 0;
}
.call-to-action{
  max-width: 50%;
  max-height: fit-content;
}