body {
  font-family: 'Cookie', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #ff69b4; /* Pink */
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list li {
  margin: 0 15px;
}

.menu-icon {
  font-size: 20px;
  cursor: pointer;
}

.main-content {
  padding: 20px;
  background-color: #ff69b4; /* Pink */
}

.weather-card,
.drink-info-card {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: aqua; /* Blue */
}
.grid-container{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.drink-info-card > div {
  flex: 1 0 calc(25% - 20px);
}

.drink-info-card p {
  grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr;
}

.responsive-image {
  max-width: 50%;
  max-height: fit-content;
}

footer {
  background-color: #ffa500; /* Orange */
  color: white;
  padding: 10px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resource-attribution ul {
  list-style-type: none;
  padding: 0;
}

.social-media-links a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.contact-info p {
  margin: 0;
}
.call-to-action{
  max-width: 50%;
  max-height: fit-content;
}